agents-app/agents-back-end/xml-schema/Kategorija_Smestaja.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:element name="Kategorija_Smestaja">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id_Kategorije" type="xs:int"/>
                <xs:element name="Naziv_Kategorije" type="xs:string"/>
                <xs:element name="Opis_Kategorije" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
