agents-app/agents-back-end/xml-schema/Komentar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:include schemaLocation="User.xsd"/>
    <xs:element name="Komentar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id_Komentara" type="xs:int"/>
                <xs:element name="Smestajna_Jedinica" type="xs:int"/>
                <xs:element ref="User"/>
                <xs:element name="Sadrzaj" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="Odobren" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
