agents-app/agents-back-end/xml-schema/Ocena.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:include schemaLocation="User.xsd"/>
    <xs:element name="Ocena">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id_Ocene" type="xs:int"/>
                <xs:element name="Smestajna_Jedinica" type="xs:int"/>
                <xs:element ref="User"/>
                <xs:element name="Ocena" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>