agents-app/agents-back-end/src/main/resources/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns="model"
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified"
targetNamespace="model"> 
	<xs:include schemaLocation="User.xsd"/>
	<xs:include schemaLocation="Agent.xsd"/>
    <xs:element name="Message">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="SenderType" type="xs:string"/>
                <xs:element ref="User"/>
                <xs:element ref="Agent"/>
                <xs:element name="Content" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
