agents-app/agents-back-end/src/main/resources/Tip_Smestaja.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns="model"
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified"
targetNamespace="model"> 
    <xs:element name="Tip_Smestaja">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Naziv_Tipa" type="xs:string"/>
                <xs:element name="Opis_Tipa" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
