xws-back-end/src/main/resources/Dodatne_Usluge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Dodatne_Usluge">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Naziv_Usluge" type="xs:string"/>
                <xs:element name="Opis_Usluge" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
