xws-back-end/src/main/resources/Zauzetost_Jedinice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns="model"
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified"
targetNamespace="model"> 
   		<xs:include schemaLocation="Smestajna_Jedinica.xsd"/>
        <xs:complexType name="Zauzetost_Jedinice">
            <xs:sequence>
                <xs:element ref="Smestajna_Jedinica"/>
                <xs:element name="Od" type="xs:date"/>
                <xs:element name="Do" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    
</xs:schema>
